@{ ViewData["Title"] = "Reclamo centrales de riesgo";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
@section Styles {
    <link href="~/wwwroot/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/wwwroot/vendor/sweetalert/sweetalert.css" rel="stylesheet" />
    <link href="~/wwwroot/vendor/chosen/component-chosen.min.css" rel="stylesheet" />
    <link href="~/wwwroot/vendor/toastr/toastr.min.css" rel="stylesheet" />
    <!-- se agrega de formateo de datatable-->
    <link href="~/wwwroot/vendor/jquery/jquery.dataTables.min.css" rel="stylesheet" />
    <style type="text/css">
        th, td {
            white-space: nowrap;
        }

        .encabezados {
            background-color: #4E73DF;
            color: white;
        }
    </style>
}

@section Scripts {
    <script src="~/wwwroot/assets/js/Forms/UtilitiesJS.js?@(DateTime.Now.Ticks)"></script>
    <script src="~/wwwroot/vendor/Summernote-Editor/summernote-bs4.min.js"></script>
    <script src="~/wwwroot/vendor/sweetalert/sweetalert.min.js"></script>
    <script src="~/wwwroot/vendor/chosen/chosen.jquery.min.js"></script>
    <script src="~/wwwroot/vendor/chosen/chosen-clickable-optgroup.js?@(DateTime.Now.Ticks)"></script>
    <script src="~/wwwroot/assets/js/Forms/JSReclamoDatacredito.js"></script>

    <!-- ingresados para datatable-->
    <script src="~/wwwroot/vendor/jquery/jquery-3.5.1.js"></script>
    <script src="~/wwwroot/vendor/jquery/jquery.dataTables.min.js"></script>
    <script>

        $(document).ready(function () {

            $('#tblAnalysis').DataTable({
                "oLanguage": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Ingrese Fecha:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    },
                    "buttons": {
                        "copy": "Copiar",
                        "colvis": "Visibilidad"
                    }
                }
            });
        });


        $("#fuSubirExcel").on('change', function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);

        })

        $("#Importar").on('click', function () {

            $(this).show;
            //RecargarSelTemporal();

        })

        async function RecargarSelTemporal() {
            var params = new Object()
            var Result = await $.ajax({
                type: "post",
                url: '/ReclamoDatacredito',
                data: params
            })
            swal("Importado Correctamente", "Importado Correctamente...", "success");
        }

        async function guardarTablaProduccion() {
            var params = new Object()
            var Result = await $.ajax({
                type: "post",
                url: '/ReclamoDatacredito/SaveTablaProduccion',
                data: params
            })
            swal("Guardado Correctamente", "Datos Guardados Correctamente...", "success")
            //alert("guardado correctamente")
            $("#btnCargarBD").hide();
            Limpiar();

            //await ListCargaDataRPAActivacionLineaCTITemp();
            //await ListCargaDataRPAActivacionLinea();
        }

        async function Limpiar() {
            document.getElementById("fuSubirExcel").value = "";
            $('#fuSubirExcel').val('');
            $('#postedFile').val('');
            var params = new Object()
            var Result = await $.ajax({
                type: "post",
                url: '/ReclamoDatacredito/LimpiarTabla',
                data: params
            })
            //alert("Limpiado correctamente")
            swal("Limpiado Correctamente", "Datos Guardados Correctamente...", "success");

            //$("#tblAnalysis").hide();
            document.getElementById("fuSubirExcel").value = "";
            setTimeout(function () {
                window.history.back();
            }, 1000);
        }

        async function Mensaje() {

            swal("Importado", "Datos importados correctamente", "success");

            document.getElementById("fuSubirExcel").value = "";
            setTimeout(function () {
                window.history.back();
            }, 2000);
        }

        $()
    </script>
}

@if (ViewBag.user == "BACKOFFICE" || ViewBag.user == null)

{@*inicia dargadata*@

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <table class="default" id="cargadatatable">
        <td><h1 class="h3 mb-0 text-gray-800">Carga data</h1></td>
        <td>
            @using (Html.BeginForm("Index", "ReclamoDatacredito", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                <div class="custom-file">
                    <input type="file" id="fuSubirExcel" class="custom-file-input" accept=".xlsx" name="postedFile" />
                    <label id="lblArchivo" class="custom-file-label" for="fuSubirExcel"></label>
                </div> @*<input type="file" name="postedFile" />*@
                <input type="submit" value="Importar" id="Importar" style="width:100px; height:30px" onclick="mensaje()" />
                <label id="importe" hidden><span>Importado con exito!!!</span></label>
                <script>
                    async function SaveExcelToSqlServer($Btn) {

                        swal("Guardado exitoso", "Actualizacion se ha realizado con exito.", "success")
                        return
                    }
                </script>
}
        </td>
    </table>
    <div class="col-md-5">
        <button id="btnCargarBD" type="button" class="btn btn-sm btn-info btn-icon-split" onclick="guardarTablaProduccion();">
            <span class="text">Cargar Base de datos</span>
        </button>
        <button id="btnlimpiar" type="button" class="btn btn-sm btn-info btn-icon-split" onclick="Limpiar();">
            <span class="text">Limpiar</span>
        </button>
    </div>

</div> @*finaliza cargadata*@
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Reclamos</h1>
</div>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <div class="btn-group">
        @*<button type="button" class="btn btn-sm btn-info BtnEdit" onclick="GuardarEstado(this)">
                <span class="text">Gestionar</span>
            </button>*@
        <a href="/ReclamoDatacredito/ListEstados/" class="btn btn-sm btn-primary BtnEdit">
            <i class="fas fa-edit fa-sm"></i>
            Gestionar Estados

        </a>
    </div>
</div>
<div>
    <div>
        <a href="" onclick="window.location.reload()" style="font-size:24px" class="fa">&#xf021;</a>
        <label id="txtultimaActualizacion">Ultima actualización: </label>
    </div>
</div>

<div class="tab-content" id="divAnalysis">
    <div class="tab-pane fade show active" id="home">
        <div class="col-md-12">
            <div class="card">
                <table id="TableRecord" class="table table-sm table-bordered table-hover" style="width:100%;">
                    <thead>
                        <tr style="text-align:center" class="card-header">
                            <th scope="col" colspan="9" class="encabezados">Lista de reclamos</th>
                        </tr>
                    </thead>
                </table>
                <div class="card-body">

                    <div class="table-responsive" id="divTableAgent">
                        @Html.Action("ListReclamos", "ReclamoDatacredito")
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

