@model AIBTicketsMVC.Models.ErrorViewModel
@{
    ViewData["Title"] = "Acceso denegado";
}
    <div class="container-fluid">
        <br />
        <br />
        <br />
        <!-- 404 Error Text -->
        <div class="text-center">
            <div class="error mx-auto" data-text="@Model.TituloError">@Model.TituloError</div>
            <br />
            <br />
            <h3 class="font-weight-bold lead text-gray-800 mb-5">@Model.DetalleError</h3>
            <h4 class="text-gray-500 mb-0">Si tienes dudas comunicate con tu superior o con el area de IT.</h4>
        </div>
        <br />
        <br />
        <br />
    </div>

    @section Scripts {
        <script src="~/wwwroot/assets/js/Forms/Home.js"></script>
    }
    @section Styles {
        <style type="text/css">
            .error{
                width: 65rem;
            }
        </style>
    }