@model IEnumerable<AIBTicketsMVC.Models.HistoryAsigne>


<div class="card">
    <h5 class="card-header"><i class="fas fa-check-square"></i> &nbsp Histórico Asignados</i></h5>
    <div class="card-body">
        <table class="table table-striped table-bordered text-center">
            <thead>
                <tr>
                    <th scope="col">Mes</th>
                    <th scope="col">Total Asignados</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Semana</td>
                            <td>@item.Cantidad</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@*<table id="HistoricoAsignados" class="table table-sm table-bordered table-hover" style="width:100%;" border="1">
    <thead>
        <tr style=" background-color: darkblue; color: white">
            <th>Mes</th>
            <th>Total Asignados</th>
        </tr>
    </thead>
    <tbody>
        @{
            int par = 1;
            foreach (var item in Model)
            {
                var bg = "";
                var col = "";
                if (par == 0)
                {
                    bg = "cornflowerblue";
                    col = "black";
                    par = 1;
                }
                else
                {
                    bg = "white";
                    col = "black";
                    par = 0;
                }
                <tr style="background-color:@bg; color: @col;">
                    <td>@item.Semana</td>
                    <td>@item.Cantidad</td>
                </tr>
            }
        }
    </tbody>
</table>*@

