
<div class="card-header">
    <div class="row">
        <h5 class="col-md-3 font-weight-bold text-primary">Documentos adjuntos:</h5>
        <div class="col-md-4">
            <input type="file" id="FileAddAttachments" onchange="changeAgregarAdjunto();">
        </div>
    </div>
</div>
<div class="card-body">
    <div id="divAdjuntos" class="form-group row">
    </div>
</div>