@model AIBTicketsMVC.Models.ListasDesplegables
    <div id="myModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h5 class="modal-title">Estado</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="HdIdStatus" />
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label for="TxtNameStatus">Nombre estado</label>
                                <input type="text" id="TxtNameStatus" class="form-control required" placeholder="Nombre Estado" maxlength="30" />
                                <span id="TxtNameStatus-error" class="text-danger"></span>
                            </div>
                            <div class="col-md-3">
                                <label for="DdlTipoEstado">Tipo de estado</label>
                                <select id="DdlTipoEstado" class="form-control required">
                                    <option value="">--Seleccionar--</option>
                                    @foreach (var item in Model.TypesActions)
                                    {
                                        <option value="@item.IdTypeActions"> @item.NameTypeAction</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="DdlSitio">Sitio</label>
                                <select id="DdlSitio" class="form-control required">
                                    <option value="">--Seleccionar--</option>
                                    @foreach (var item in Model.Sitios)
                                    {
                                        <option value="@item.IdMasterSites"> @item.NameSite</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label for="DdlEstado">Estado</label>
                                <select id="DdlEstado" class="form-control" disabled>
                                    <option value="1">Activo</option>
                                    <option value="0">Inactivo</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label for="TxtDescripcionStatus">Descripcion</label>
                                <textarea id="TxtDescripcionStatus" class="form-control" placeholder="Descripcion" maxlength="500"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label for="TxtSubStatus">Agregar Sub Estado:</label>
                                <input type="text" id="TxtSubStatus" class="form-control" onkeyup="VerifyNameSubStatus(this.value)" placeholder="Nombre Sub Estado" maxlength="30" />
                                <span id="TxtSubStatus-error" class="text-danger"></span>
                            </div>
                            <div class="col-md-2">
                                <button type="button" style="margin-top: 23px;" class="btn btn-success" title="Agregar" onclick="AddOptionSubStatus();">
                                    <i class="fa fa-plus"></i>
                                    Agregar
                                </button>
                            </div>
                            <div class="col-md-4">
                                <label for="DdlSubStatus">Eliminar Sub Estado:</label>
                                <select id="DdlSubStatus" class="form-control">
                                    <option value="">--Seleccionar--</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <button type="button" style="margin-top: 23px;" class="btn btn-danger" onclick="DeleteSubStatus();">
                                    <i class="fa fa-trash-alt"></i>
                                    Eliminar
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" id="BtnGuardar" value="Guardar" />
                        <button class="btn btn-primary BtnLoading" type="submit" style="display:none;" disabled>
                            <span class="spinner-border spinner-border-sm"></span>
                            Loading...
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>